html {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    background-color: black;
    color: aliceblue;

}

h1 {
    color: aliceblue;
    margin-top: 0px;
    font-size: 40px;
    margin-bottom: 4\0px;

}

.area {
    display: grid;
    grid-template-columns: repeat(3, 170px);
    grid-template-rows: repeat(3, 170px);
    margin: auto;
    
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(206, 206, 206);
}

#e7, #e8, #e9 {
    border-bottom: 0px;
}

#e1, #e2, #e3 {
    border-top: 0px;
}

#e1, #e4, #e7{
    border-left: 0px;
}

#e3, #e6, #e9{
    border-right: 0px;
}

img {
    width: 90px;
    height: 90px;
}

x {
    color: red;
}

o {
    color:  skyblue;
}

.placar {
    position: absolute;
    top: 200px;
    font-size: 34px;
    text-align: start;
    left: 15px;
    color: aliceblue;
}

.infos {
    position: absolute;
    top: 150px;
    right: 44px;
    font-size: 34px;
}

.botaoReset {
    background-color:rgb(187, 6, 6);
    border-radius: 30px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.placar p {
    display: inline-block;
    margin-bottom: 22px;
    margin-top: 0px;
}

#velha, #x, #o {
    display: inline;
    margin-left: 7px;
}